[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
langchain = "==0.1.16"
langchain-community = "==0.0.34"
requests = "==2.31.0"
openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
